/* Full screen dark background */
.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: "Segoe UI", sans-serif;
    overflow: auto;
     background: 
        linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
        ),
        url("../assets/login-bg.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: "Segoe UI", sans-serif;

    animation: bgMove 30s ease-in-out infinite alternate;
}
@keyframes bgMove {
    0% {
        background-position: center;
    }
    100% {
        background-position: top;
    }
}

/* Card */
.login-card {
    /* background: rgba(0, 0, 0, 0.85); */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    padding: 2.5rem;
    width: 100%;
    max-width: 380px;

    border-radius: 16px;
    box-shadow:
        0 0 40px rgba(0, 229, 255, 0.2),
        inset 0 0 1px rgba(255, 255, 255, 0.2);

    text-align: center;

    animation: floatCard 6s ease-in-out infinite;
}
@keyframes floatCard {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}
.input::placeholder {
    color: #9aa4ff;
}

/* Headings */
.login-card h2 {
    color: #00e5ff;
    margin-bottom: 5px;
}

.subtitle {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Inputs */
.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    background: #1c1c1c;
    border: 1px solid #333;
    color: #fff;
    border-radius: 8px;
    outline: none;
}

.input:focus {
    border-color: #00e5ff;
}

.label {
    display: block;
    margin-bottom: 6px;
    font-size: 13px;
    color: #cbd5f5;
}

/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #00e5ff;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #00bcd4;
}

/* Error */
.error {
    background: rgba(255, 0, 0, 0.15);
    color: #ff6b6b;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 12px;
}

/* Register link */
.register-link {
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
}

.register-link a {
    color: #00e5ff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
